#
# /etc/systemd/system/healthd.service
#
# This file is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation; either version 2.1 of the License, or
# (at your option) any later version.
#


[Unit]
Description=Epiphany Health Monitor Service healthd
Documentation=https://github.com/epiphany-platform/epiphany/tree/feature/health-monitor/docs/design-docs/health-monitor
After=syslog.target

[Install]
Alias=health.service
Alias=healthd.service
WantedBy=multi-user.target

[Service]
Type=notify
WatchdogSec=30
PrivateNetwork=false

# User=
# Group=

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

PrivateDevices=true

# Prevent accessing /home, /root and /run/user
ProtectHome=read-only

# Execute pre and post scripts as root, otherwise it does it as User=
PermissionsStartOnly=false

WorkingDirectory=/etc/healthd

# ExecStartPre=
# ExecStartPre=
 

# Start main service
ExecStart=/usr/sbin/healthd -c /etc/healthd/healthd.yml -p 2112
# ExecStartPost=


KillSignal=SIGTERM

# Don't want to see an automated SIGKILL ever
SendSIGKILL=no

Restart=on-watchdog
RestartSec=5s

TimeoutStartSec=900
TimeoutStopSec=900


